<main class="image-upload-container">

  <div class="row w-100">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-head">
          <h4>Upload background image</h4>
        </div>
        <div class="card-body">
          <input type="file">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-head">
          <h4>Upload Client image/logo</h4>
        </div>
        <div class="card-body">
          <input type="file">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-head">
          <h4>Upload Company logo</h4>
        </div>
        <div class="card-body">
          <input type="file">
        </div>
      </div>
    </div>
  </div>


</main>
