/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
