.content {
  color: black;
}

a {
  color: #000000;
  margin-right: 10px;
}

thead {
  th {
    width: 20%;
  }

  background-color: #d6d6d6;
}

tbody {
  tr.main-row {
    background-color: #e8e8e8;

    &.active {
      .file-list-wrap {
        display: table-row;
        height: auto;
      }

      tr {
        border-left: 5px solid #f45f39;
        background: #ffffff;
        border-bottom: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
      }
    }



    &:nth-child(even) {
      background-color: #f2f2f2;
    }

    td {
      margin: 0;
      padding: 0;
    }
  }

  .inner-row {
    width: 100%;
    cursor: pointer;
  }

  .inner-row td {
    width: 20%;
    padding: 0.75rem !important;
    ;
  }
}

.file-list {
  float: left;
  width: 20%
}

.file-wrap {
  float: left;
}

.file-list-wrap {
  display: none;
  transition: all 0.5s ease;
}

.file {
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;
  display: none;
}
